
<html>
<head>
    <title>trip to you</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./css/board_list.css">
</head>
<body>
    <table>
        <tr>
            <th>글 번호</th>
            <th>글 제목</th>
            <th>글쓴이</th>
        </tr>
        
        <tr>
            <td>
                <%= col_num%>
            </td>
            <td>
                <%= title%>
            </td>
            <td>
                <%= title%>
            </td>
        </tr>
    </table>

</body>

</html>

