<html>
<head>
    <title>trip to you</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./css/board_list.css">
</head>
<body>
    <table border='1'>
        <tr>
            <th>글 번호</th>
            <th>글 제목</th>
            <th>글쓴이</th>
        </tr>
<%
    while(i < board_list_result.length){
%>
        <tr>
            <td>
                <%=board_list_result[i].num%>
            </td>
            <td>
                <%=board_list_result[i].tit%>
            </td>
            <td>
                <%=board_list_result[i].writer%>
            </td>
        </tr>
<%
        i++;
    }

%>        
    </table>

</body>

</html>
