<!DOCTYPE html>
<html>
<head>
    <title>trip to you</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
    <% include ./tampletes/header.ejs %>
        <div class='txt_hello_box'>
            <div class='text_hello'>
                Hello there, Create your plans!
            </div>
            <div class="create_paln_btn">
                <a href='/plan'>Create to plan</a>
            </div>

        </div>

        <div class='city-list_tit_box'>
            <div class='sub_tit'>
                looking for city?
            </div>

            <div class="city_list_box">
                <ul class="city_list_ul">
                    <li>
                        <div class="container">
                            <img src='/img/city_img/seoul.jpg' alt='seoul.jpg' class='city_img'> 
                            <a href='#'>
                                <div class="overlay">
                                    <div class="over_text">Seoul</div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="container">
                            <img src='/img/city_img/osaka.jpg' alt='osaka.jpg' class='city_img'> 
                            <a href='#'>
                                <div class="overlay">
                                    <div class="over_text">osaka</div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="container">
                            <img src='/img/city_img/london.jpg' alt='london.jpg' class='city_img'> 
                            <a href='#'>
                                <div class="overlay">
                                    <div class="over_text">london</div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="container">
                            <img src='/img/city_img/new_york.jpg' alt='new_york.jpg' class='city_img'> 
                            <a href='#'>
                                <div class="overlay">
                                    <div class="over_text">new_york</div>
                                </div>
                                
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="container">
                            <img src='/img/city_img/moscow.jpg' alt='moscow.jpg' class='city_img'> 
                            <a href='#'>
                                <div class="overlay">
                                    <div class="over_text">moscow</div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="container">
                            <img src='/img/city_img/paris.jpg' alt='paris.jpg' class='city_img'> 
                            <a href='#'>
                                <div class="overlay">
                                    <div class="over_text">paris</div>
                                </div>
                            </a>
                        </div>
                    </li>

                    

                                    
                </ul>

            </div>
            <div class='sub_tit'>
                    <a href="/board">looking for other travel storys?</a>
            </div>
    
        </div>


    <!-- <% include ./tampletes/footer.ejs %> -->
  
</body>
</html>