a{
    text-decoration: none;
    color:#000;
}
.body{
    margin: 0 500px;
}
ul{
    list-style:none;
    padding-left:0px;
    }
 
.header_box{
    border-bottom: 1px solid #e6e6e6;
    margin: 40px 50px ;
}

.head_li{
    display:inline-block;
}

.header_logo{
    margin-right: 65%;
}

.right_objects{
    margin:15px 20px;
    right: 0;
}

.header_txt{
    font-size:30px;
}