<html>
<head>
    <title><%=title%></title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./css/board_list.css">
</head>
<body>
    <table border='1'>
        <tr>
            <th>글 번호</th>
            <th>글 제목</th>
            <th>글쓴이</th>
        </tr>


<%
    for(var i = 0; i<rows.length; i++){
%>
        <tr>
            <td>
                <%=rows[i].num%>
            </td>
            <td>
                <%=rows[i].tit%>
            </td>
            <td>
                <%=rows[i].writer%>
            </td>
        </tr>
<%

    }

%>
    </table>

</body>

</html>
